/* Reseteo básico */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body { 
    background-color: #fff; 
    color: #333; 
    line-height: 1.6; 
}

/* Cabecera */
header { 
    padding: 3rem 1rem; 
    text-align: center; 
    border-bottom: 1px solid #eee; 
}

header h1 { 
    font-size: 2.5rem; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    margin-bottom: 0.5rem; 
}

header p { 
    color: #666; 
    font-size: 1rem; 
}
/* Estilos para el nuevo logo */
.logo-principal {
    max-width: 250px; /* Controla el tamaño máximo del logo */
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

/* Un pequeño efecto para que el logo resalte un poquito al pasar el mouse */
.logo-principal:hover {
    transform: scale(1.05);
}

/* Modo de Alquiler */
.modo-alquiler { 
    background-color: #fafafa; 
    padding: 2rem; 
    max-width: 800px; 
    margin: 2rem auto; 
    border-radius: 8px; 
    border: 1px dashed #ccc; 
}

.modo-alquiler h2 { 
    text-align: center; 
    margin-bottom: 1rem; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
}

.modo-alquiler ol { 
    margin-left: 2rem; 
    color: #555; 
}

.modo-alquiler li { 
    margin-bottom: 0.5rem; 
}

/* Filtros */
.filtros { 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 1rem; 
    max-width: 1000px; 
    margin: 0 auto; 
}

.btn-filtro { 
    background: none; 
    border: 1px solid #333; 
    color: #333; 
    padding: 8px 16px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-size: 0.8rem; 
    transition: all 0.2s; 
    border-radius: 4px;
}

.btn-filtro:hover, .btn-filtro.activo { 
    background-color: #333; 
    color: #fff; 
}

/* Grilla de Productos */
.grilla-productos { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 30px; 
    padding: 2rem; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Tarjetas */
.tarjeta { 
    text-align: center; 
}

.tarjeta img { 
    width: 100%; 
    height: 220px; 
    object-fit: cover; 
    border: 1px solid #eee; 
    transition: opacity 0.3s; 
    border-radius: 4px;
}

.tarjeta img:hover { 
    opacity: 0.8; 
    cursor: pointer; 
}

.tarjeta-info { 
    padding-top: 1rem; 
}

.tarjeta h3 { 
    font-size: 1rem; 
    font-weight: normal; 
    margin-bottom: 0.2rem; 
    text-transform: uppercase; 
}

.id-producto { 
    font-size: 0.8rem; 
    color: #888; 
    font-weight: bold; 
}

/* Pie de página */
footer { 
    text-align: center; 
    padding: 3rem 1rem; 
    border-top: 1px solid #eee; 
    margin-top: 3rem; 
}

.redes { 
    margin-top: 1rem; 
}

.redes a { 
    margin: 0 10px; 
    color: #333; 
    text-decoration: none; 
    font-weight: bold; 
}

.redes a:hover {
    text-decoration: underline;
}